.login{
    min-height: 100vh;
    background-color: #f7f7f7;
  }
  .login .login-page{
    height: 100vh;display: flex;align-items: center;
  }
  .login .login-sidebar, .login-form-wrapper{
    background: #fff;height: 80vh;
  }
  .login .login-sidebar{
    background:  url('https://images.pexels.com/photos/926390/pexels-photo-926390.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260')center center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .login .login-sidebar::before{
    content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    z-index: 1;
      background-image: linear-gradient(to bottom right,#21AEA2,#6472A5);
      opacity: .8;
  }
  .login .login-sidebar .login-gradient-background{
    position: absolute;z-index: 2;
  }
  .login .login-sidebar .login-gradient-background h1{
    font-size: 2em;font-weight: 600;text-transform: uppercase;color: #ffffff;
  }
  
  .login-form-wrapper .register-btn a{
    color: #ffffff;border-radius: 18px;padding: 0.57em 2em;background: #21AEA2;
  }
  .login-form-wrapper .register-btn a:hover{
    opacity: .8;
  }
  .field-box .field{margin-bottom: 2.1em;}
  .login-form-wrapper .field-box{
    display: flex;
    height: 80%;
    align-items: center;
  }
  .login-form-wrapper .field-box .login-heading{
    font-size: 1.95em;
  }
  .login-form-wrapper .field-box .login-subheading{
    margin-bottom: 2em;font-size: 0.85em;color: #787877;
  }
  
  .login-form-wrapper .field-box .login-btn-group .login-btn{
    background: #6472A5;color: #ffffff;border-radius: 18px;padding: 0.57em 2em;
  }
  .login-form-wrapper .field-box .login-btn-group .forgot-link{
    color: #777777;font-size: 0.85em;
  }
  .login-form-wrapper .field-box .login-btn-group .forgot-link:hover{
    color: #444444;font-size: 0.85em;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2
  }
 
  .is-jeti
  {
    background-color: #284571;
  }

  .is-white
  {
    color:#fff;
  }

  div.adminbtn
  {
    display: none;
  }

  @media screen and (max-width: 800px) {
    .is-responsive {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      display: block;
      position: relative;
    }
    .is-responsive td:empty:before {
      content: " ";
    }
    .is-responsive th,
    .is-responsive td {
      margin: 0;
      vertical-align: top;
    }
    .is-responsive th {
      text-align: left;
    }
    .is-responsive thead {
      border-right: solid 2px #dbdbdb;
      display: block;
      float: left;
    }
    .is-responsive thead tr {
      display: block;
      padding: 0 10px 0 0;
    }
    .is-responsive thead tr th::before {
      content: " ";
    }
    .is-responsive thead td,
    .is-responsive thead th {
      border-width: 0 0 1px;
    }
    .is-responsive tbody {
      display: block;
      width: auto;
      position: relative;
      overflow-x: auto;
      white-space: nowrap;
    }
    .is-responsive tbody tr {
      display: inline-block;
      vertical-align: top;
    }
    .is-responsive th {
      display: block;
      min-height: 3.5em;
      text-align: right;
    }
    .is-responsive td {
      display: block;
      min-height: 3.5em;
      text-align: left;
    }
    .is-responsive th:last-child,
    .is-responsive td:last-child {
      border-bottom-width: 0;
    }
    .is-responsive tr:last-child td:not(:last-child) {
      border: 1px solid #dbdbdb;
      border-width: 0 0 1px;
    }
    .is-responsive.is-bordered td,
    .is-responsive.is-bordered th {
      border-width: 1px;
    }
    .is-responsive.is-bordered tr td:last-child,
    .is-responsive.is-bordered tr th:last-child {
      border-bottom-width: 1px;
    }
    .is-responsive.is-bordered tr:last-child td,
    .is-responsive.is-bordered tr:last-child th {
      border-width: 1px;
    }
  }